*.user
*.cache
*.sdf
*.opensdf
*.suo
*.orig
*.userprefs
*.tar.gz
*.nupkg
.DS_Store
msbuild.log
Hammer/Test/*.txt
Hammer/Test/*.exe
Scratch/
TestDeployment/
TestResults/
test-results/
**/obj/**
**/bin/Debug/**
**/bin/Release/**
